{% extends "base.html" %}

{% block body %}
    <form method='POST' action="{{ url_for('auth.register') }}">
        <label>Username: </label><input type='text' required name='username'/><br/>
        <label>Email: </label><input type='email' required name='email'/><br/>
        <label>Password: </label><input type='password' required name='password'/><br/>
        <label>Confirm Password: </label><input type='password' required name='confirm_password'/><br/>
        <input type='submit' value='Register' />
    </form>
{% endblock %}


